/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

*, *::after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}



/* 
	ABOUT US
*/


#about-us {
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;

	width: 70%;
	text-align: center;
}

#about-us .grid-col-6of10 {
	padding-right: 0;
}

.company-mission {
	margin-bottom: 2em;
}



/* 
	CONTACT US 
*/

#contact-us {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
	margin-bottom: 3em;
}

#contact-us p {
	width:50%;
	margin: 1em auto 2em auto;
}

/* margin bottom form the entire form */
.contact-form {
	margin-bottom: 2em;
}

.sm-icons img {
	color: #7d7d7d;
	margin:1.5em .7em 0 .7em ;
	margin-bottom: 1em;
	margin-top:0;
}


