/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/* Styling for the events posts */
	
	.coming-up-events {
		margin-top: 2em; /*temporary needs to be changed */
	}

	.coming-up-events,
	.popular-events {
		text-align: center;
		padding-bottom: 5em; /*avoid the view more button border bottom getting cut off by the footer*/
		padding-right: 0; /* reverses gutter */
	}
	   
	.coming-up-events ul.img-list,
	.popular-events ul.img-list {
		list-style-type: none;
		display: block;
		padding-left: 0;
	}

	.coming-up-events ul.img-list li,
	.popular-events ul.img-list li {
	  padding: 0.5em;
	  margin-bottom: 1.5em;
	  display: inline-block;
	}

	.coming-up-events ul.img-list li img, 
	.popular-events ul.img-list li img {
	  margin-bottom: 0.5em;
	}

	.coming-up-events p,
	.popular-events p {
		width:40%;
		margin: auto;
		margin-top:1em;
	}


	.coming-up-events ul.img-list li h4,
	.popular-events ul.img-list li h4 {
		/*margin-top: 0.2em;*/
		font-size: 0.70rem; /* replace initial size */
	}

/*Styling for Popular Events Posts*/
/*
	.popular-events h1 {
		margin: auto;
		width: 40%;
		text-align: center;
	}
	.popular-events p {
		width:40%;
		text-align: center;
		margin: auto;
		margin-top: 1em;
	}



	.popular-events {
	  /*margin: 0 auto;
	  overflow: auto;
	  float: left;
	  padding-bottom: 5em; /* avoid the view more button border bottom getting cut off by the footer
	  text-align: center;
	}
	   
	.popular-events ul.img-list {
	  list-style-type: none;
	  overflow: auto;
	}

	.popular-events ul.img-list li {
	  padding: 0.5em;
	  /*overflow: auto;
	  float: left;
	  margin-bottom: 1.5em;
	}

	.popular-events ul.img-list li img {
	  width: auto;
	  text-align: center;
	  margin-bottom: 0.5em;
	}

	.popular-events ul.img-list li h4 {
		/*margin-top: 0.2em;
		font-size: 0.70rem; /* replace initial size 
	}*/



