/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Styling for Form Text Fields and Labels */

.form-field {
    font-family: Avenir-Book;
    text-transform: uppercase;
    width:100%;
    background: transparent;
    margin-top:1em; /* between form fields */
    border: 1px solid #d8d8d8;
    padding: 1em 1em; /* form field */
    -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}


.message-box {
  font-family: Avenir-Book;
  text-transform: uppercase;
  width:100%;
  height:10em;
  padding: 1em 1em;
  background: transparent;
  margin-top:1em;
  border: 1px solid #d8d8d8;
}
