
/* 
	Reference Retrieved From:
	http://css-tricks.com/dont-overthink-it-grids/

	Basic Grid structure retrieved from Andrew's Week 3 Tutorial from IAT 339 
*/


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
	float: left;
	padding: 0; 
	padding-right: 30px;
}


[class^='grid-col-']:last-of-type {
  padding-right: 0;
}


/*
	Here we are defining our 20% wide column (for 2 columns of a 10 col grid)
*/
.grid-col-2of10 {
	width: 20%;
}


/*
	Using further @media queries, we specify that at a width of
	less than 30em it should collapse the 2/10 columns into one stack
*/
@media (max-width: 30em) {

	.grid-col-2of10 {
		width: 100%;
	}

}

.grid-col-3of10 {
	width: 30%;
}

.grid-col-4of10 {
	width: 40%;
}

@media (max-width: 40em) {

	.grid-col-4of10 {
		width: 100%;
	}

}


/*
	Here we are defining our 50% wide column (for a 10 col grid)
*/
.grid-col-5of10 {
	width: 50%;
}

/*
	Here using @media queries, we are specifying when the display
	has a width less than 50em it should collapse the 5/10 columns 
	into one stack (hence width: 100%)
*/
@media (max-width: 50em) {

	.grid-col-5of10 {
		width: 100%;
	}

}

.grid-col-6of10 {
	width: 60%;
}


/*
	Much like last week, we are clearing the floating items so
	that our 'grid' structure can be stacked on others
*/
.grid:after {
	content: "";
	display: block;
	clear: both;
}


