
/* 
	Reference Retrieved From:
	http://css-tricks.com/dont-overthink-it-grids/

	Basic Grid structure retrieved from Andrew's Week 3 Tutorial from IAT 339 
*/


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	padding-right: 30px;
}

/* last child will not have a right padding */
[class^='grid-col-']:last-of-type {
  padding-right: 0;
}

/* Add media queries later on for to achieve responsive design */

.grid-col-2of10 {
	width: 20%;
}


.grid-col-3of10 {
	width: 30%;
}


.grid-col-4of10 {
	width: 40%;
}


.grid-col-5of10 {
	width: 50%;
}


.grid-col-6of10 {
	width: 60%;
}

.grid-col-8of10 {
	width: 80%;
}


/*
	Much like last week, we are clearing the floating items so
	that our 'grid' structure can be stacked on others
*/
.grid:after {
	content: "";
	display: block;
	clear: both;
}


