/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

	*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}


/* Reference Retrieved from: 
	http://codepen.io/maccadb7/pen/nbHEg */


	/* Pseudo Element for Modal */

	.modal::before {
	  content: "";
	  display: none;
	  background: rgba(255, 255, 255, 0.6);
	/*  border: #C1B087 solid 1px; */
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 10;
	}


	.modal:target::before {
	  display: block;
	}


	/* Modal Animation Coming Top Down*/

	.modal:target .modal-dialog {
	  -webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	  top: 5%;
	}	


	/* Styling for the entire modal cart popup */

	.modal-dialog {
		background: white;
		border: #C1B087 solid 1px;
		/* border-radius: 2px; the rounded corner for the dialog box */
/*		margin-left: -150px;
		position: fixed;
		left: 35%;
		top: -100%;*/
		position: fixed;
		top: 0;
		left: 25%;

		z-index: 11;
		width: 40em;

		/* Modal Animation Coming Top Down */
		-webkit-transform: translate(0, -500%);
		-ms-transform: translate(0, -500%);
		transform: translate(0, -500%);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		-moz-transition: -moz-transform 0.3s ease-out;
		-o-transition: -o-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}


	/* Styling for the header in the modal dialog */

	.modal-header {
		border-bottom: #F2EDE7 solid 1px;
	    padding: 1.5em 0;
		width: 90%;
		margin-left: 2em;
	}

	/* Styling for the "X" on the top right to close modal */

	.button-close-modal {
		color: #7D7D7D;
		font-size: 2rem;
		text-decoration: none;
		position: fixed;
		top: 0.2em;
		right: 1em;
	}

	.button-close-modal:hover {
	  color: #C1B087;
	}


	/* Styling for the cart item displays */

	.modal-body {
		margin: 1.5em 2em;
	}

	.modal-body h4 {
		margin-top: 2em;
	}

	.modal-body p {
		margin-top: 2.2em;
	}

	.modal-body .grid-col-2of10 {
		margin-top: 1.5em;
	}


	/* Styling for the footer in the modal dialog */

	.modal-footer {
		border-top: #F2EDE7 solid 1px;
		width: 90%;
		margin: 1.5em 2em;
		padding: 1em 0;
	}

	.modal-footer .grid {
		margin-right: 1.5em;
	}


	.modal-footer a.button-default {
		float: right;
		margin: 2em 3.5em 2em 0;
	}
