/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

/* BREADCRUMBS */ 

ul.breadcrumb { 
	background: #F2EDE7;
	list-style: none; 
	overflow: hidden; 

	margin-top: 2em;
}


ul.breadcrumb li { 
	float: left; 
	display: inline;
}

ul.breadcrumb li a {
	color: #7D7D7D;
	font-family: AGaramond-Italics;
	font-size: 0.875rem;
	letter-spacing: 0.025em;
	text-decoration: none; 
	padding: 8px 0 8px 30px;
	
	position: relative; 
	display: block;
	float: left;
}

ul.breadcrumb li a:hover {
	color: #C1B087;
/*	text-decoration: underline;*/
}

ul.breadcrumb li:before { 
	font-family: AGaramond-Italics;
	font-size: 1rem;
	color: #7D7D7D;

	/* styling for forward slash that separates links */
	content: '/';
	display: inline-block;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	padding-left: 1.5rem;
}

.filter-menu{
	padding-top: 1em;
}
.filter-menu ul {
	margin-bottom: 2em;
}

.filter-menu li{
    list-style-type: none;
    padding: 0;
    padding-left:3em;
    margin: 0;
    margin-bottom: 0.5em;
   
  }

 .filter-menu li a {
    font-family: AGaramond-Regular;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7D7D7D;
    text-decoration: none;
  }

 .filter-menu li a:hover {
    color: #C1B087;
  } 

 .filter-menu li a:active {
    color: #C1B087;
  } 
  .filter-menu h3 {
  	padding-left: 6.9em;
  	font-size: .8rem;
/*  	text-transform: uppercase;
*/  }
<<<<<<< HEAD
=======

#product-listing {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    float: left;
    padding: 0;
  }
   
  #product-listing ul {
    list-style-type: none;
  }

  #product-listing li {
    width: auto;
    padding: 1em;
    overflow: auto;
    float: left;
  }

  #product-listing li img {
    margin-bottom: 1.2em;
    width: auto;
   /* background-color: rgba(202, 201, 199, 0.75);*/
  }





>>>>>>> Joanne-Working
