/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 




/* 
  BREADCRUMBS 
*/ 

ul.breadcrumb { 
	background: #F2EDE7;
	list-style: none; 
	overflow: hidden; 
	margin-top: 2em;
  padding-left: 4em;
}

ul.breadcrumb li { 
	float: left; 
	display: inline;
}

ul.breadcrumb li a {
	color: #7D7D7D;
	font-family: AGaramond-Italics;
	font-size: 0.875rem;
	letter-spacing: 0.025em;
	text-decoration: none; 
  padding: 10px 0 8px 1em;
	position: relative; 
	display: block;
	float: left;
}

ul.breadcrumb li a:hover {
	color: #C1B087;
/*	text-decoration: underline;*/
}

ul.breadcrumb li:before { 
	font-family: AGaramond-Italics;
	font-size: 1rem;
	color: #7D7D7D;

	/* styling for forward slash that separates links */
	content: '/';
	display: inline-block;
	margin-top: 0.5rem;
	padding-left: 1.5rem;
}



/*
  FILTER MENU 
*/

.filter-menu {
	margin-top: 2em;
  padding-left: 5em;
}

.filter-menu ul {
	margin-bottom: 2em;
  padding-left: 0;
}

.filter-menu li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;   
}

.filter-menu li a {
  font-family: AGaramond-Regular;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7D7D7D;
  text-decoration: none;
  }

.filter-menu li a:hover {
  color: #C1B087;
} 

.filter-menu li a:active {
  color: #C1B087;
} 



/*
  PRODUCT LISTING 
*/

#product-listing {
  margin: 0 auto;
  overflow: auto;
  float: left;
  padding-left: 4em;
  padding-bottom: 5em; /* avoid the view more button border bottom getting cut off by the footer*/
  text-align: center;
}
   
#product-listing ul {
  list-style-type: none;
  overflow: auto;

}

#product-listing li {
  padding: 0.5em;
  overflow: auto;
  float: left;
  margin-bottom: 1.5em;
  
}

#product-listing li img {
  width: auto;
  text-align: center;
  margin-bottom: 0.5em;
}

#product-listing .button-default {
  margin-right: 4em;
}

#product-listing ul li h3 {
  text-align: left;
}

#product-listing ul li h4 {
  font-size: 0.70rem;
  text-align: left;
}


