/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/*standard text styling */

	
/*	PRACTICE NOT TO USE GENERIC TAGS 
	SPECIFY WITH CLASS NAME AND ID*/

/*	i wouldn't put the margin-top on the h1, i would put it as the margin for that specific tag that marks up the section*/

/*	margin-bottom is okay because you are separating between that h1 element and the rest*/

	#interactive-elements h1{
		margin-top: 1em;
		margin-bottom: .5em;
	}


	#interactive-elements h3 {
		color: #A3A3A0;
		text-transform: lowercase;

	}
	
	#interactive-elements p {
		margin-top:1em;
		margin-bottom: 2em;
		margin-right: 5em;
	}


/*	this means it is a .grid-col-2of10 and ALSO a .filter-menu so it will only affect that specific one not everything else with the tag of .grid-col-2of10 or .filter-menu*/

	.grid-col-2of10.filter-menu {
		margin-top:3em;
	}

	#interactive-elements {
		margin-top:3em;
		padding-left: 2em;
	}

	#interactive-elements ul.nav-menu {
		text-align:left;
		margin-top: 0;
	}

	




/* Styling for the events posts */
	
	.popular-events {
		text-align: center;
		margin-bottom: 5em; /*avoid the view more button border bottom getting cut off by the footer*/
		padding-right: 0; /* reverses gutter */
	}



	/*
		RESPONSIVE for the events post listing 
	*/

	@media (max-width: 64.063em) {
		#coming-up .grid-col-1of10.blank,
		 #popular .grid-col-1of10.blank {
			display: none;
		}

		#coming-up .grid-col-8of10.coming-up-events,
		 #popular .grid-col-8of10.popular-events {
			width: 100%;
		}

	}

	@media(max-width: 61.563em) {
		.coming-up-events p,
		.popular-events p {
			width: 45%;
		}
	}

	@media(max-width: 54.813em) {
		.coming-up-events p,
		.popular-events p {
			width: 50%;
		}
	}


	@media (max-width: 51.375em) {
		.coming-up-events p,
		.popular-events p {
			width: 60%;
		}
	}

	@media(max-width: 41.25em) {
		.coming-up-events p,
		.popular-events p {
			width: 65%;
		}
	}

	@media(max-width: 38.25em) {
		.coming-up-events p,
		.popular-events p {
			width: 75%;
		}
	}


	@media(max-width: 33.19em) {
		.coming-up-events p,
		.popular-events p {
			width: 85%;
		}
	}

