/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/


/* 
  ORDER SUMMARY
*/

  .order-summary{
    margin-top: 2em; 
    margin-left: 5em;
    border: 1px solid #c1b087;
  }

  .order-summary-header{
    padding: 1em 0;
    margin: 0 0 1em 1em;
    border-bottom: #F2EDE7 solid 1px;
    width: 90%;
  }

  .cart-items {
    margin: 0 0 1em 1em;
    width: 90%;
  }

  .cart-items h4 {
    margin-top: 2em;
  }

  .cart-items p {
    margin-top: 2.2em;
  }

  .subtotal,
  .payment-footer {
    border-top: #F2EDE7 solid 1px;
    width:90%;
    margin-left:1em;
  }


/*
  CHECKOUT FORMS 
*/

  .checkout {
    padding-bottom: 4em;
  }

  .checkout h3 {
    margin-bottom: 1em;
  }


  /* Styling for Shipping Information Section */

    .shipping-information, 
    .billing-information {
      width: 80%
    }
    
    .shipping-information {
      margin: 2em 0;
    }


  /* Styling for Billing Information Section */
    
    .billing-information{
      margin: 3em 0 4em 0;
    }



